<launch>
   <arg name="vesc_port" default="/dev/ttyACM1" />

   <!-- launch YOLO with Zed inputs -->
   <include file="$(find darkent_ros)/launch/zed_yolo_ros.launch"/>

   <!-- Launch VESC Driver -->
   <include file="$(find vesc_driver)/launch/vesc_driver_node.launch">
     <arg name="port" default="$(arg vesc_port)" />
   </include>

   <!-- <node pkg="darknet_ros" type="yolo_ros" name="yolo_ros"/> -->
</launch>
